/* GLOBAL CSS */

* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
  }
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
  body {
    font-family: "Noto Sans JP", sans-serif;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    scroll-behavior: smooth;
    background: none !important;
  }
  
  a,
  a:hover {
    text-decoration: none;
  }
  p a {
    color: black;
    font-weight: 500;
  }
  
  :root {
    --pink: #dc4f72;
    --secondary: #0d5fa8;
    --title-color: #2c3038;
    --text-color: #5a5a5a;
  }
  .gradient-text1 {
    background-image: linear-gradient(to right, #000000, #737373);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .gradient-text2 {
    background-image: linear-gradient(to left, #000000, #737373);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .gradient-text3 {
    background-image: linear-gradient(to bottom left, #000000, #737373);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .gradient-text4 {
    background-image: linear-gradient(to top left, #000000, #737373);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .gradient-text5 {
    background-image: linear-gradient(90deg, #5170ff, #ff66c4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .gradient-text6 {
    background-image: linear-gradient(90deg, #000000, #c89116);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  } 
  .gradient-text7 {
    background-image: linear-gradient(90deg, #ff2970, #a91bac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  } 
  .gradient-text8 {
    background-image: linear-gradient(90deg, #8c52ff, #00bf63);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .gradient-text9 {
    background-image: linear-gradient(90deg, #5de0e6, #004aad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .gradient-text10 {
    background-image: linear-gradient(90deg, #004aad, #cb6ce6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .gradient-text11 {
    background-image: linear-gradient(to right, #800080, #FF0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .gradient-text12 {
    background-image: linear-gradient(90deg, #006699, #800080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .gradient-text13 {
    background-image: linear-gradient(to right, #999999, #663399);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  #video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    position: absolute;
    top: 37%;
    left: 45%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
    color: #020408;
  }
  .content1 {
    position: absolute;
    top: 46%;
    left: 95%;
    transform: translate(-50%, -50%);
    
    color: #020408;
  }
  /* .contentOutputVideo {
    
    max-width: 1700px;
    max-height: 950px;
  } */
  .contentOutputVideo {
    width: 100%; 
    max-width: 1700px; 
    height: auto; 
    max-height: 950px; 
    box-sizing: border-box; 
}

  .parentGroup {
    display: flex;
    justify-content: space-between;
  }
  .rika {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    /* background-color: antiquewhite; */
    background-color: rgb(228, 249, 221);
  }
  
  
  
  /* .rikacontentNgheDoc .vanban .p-padding2 {
    
  } */
  
  
  /* .rikatitle {
    display: flex;
    justify-content: space-around;
  } */
  .rikatitle .buttonluyennghe {
    /* background-color: #4caf50; */
    border: solid 1px;
    color: #fff;
    padding: 14px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    background-image: linear-gradient(90deg, #0097b2, #7ed957);
    margin-bottom: 0;
    font-weight: 700;
  }
  .rikatitle p.buttonluyendoc {
    border: solid 1px;
    color: #fff;
    padding: 14px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    background-image: linear-gradient(90deg, #8c52ff, #00bf63);
    margin-bottom: 0;
    font-weight: 700;
  }
  p.buttonluyendich {
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-weight: 700;
  }
  .moving-text {
    animation: move 3s linear infinite;
  }
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(25px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .moving-text-dich {
    animation: moveTextdich 3s linear infinite;
  }
  @keyframes moveTextdich {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .rikabutton {
    display: inline-block;
    margin-left: 30px;
    padding-top: 13px;
  }
  .rikalogo {
    display: inline-block;
    margin-left: 20px;
  }
  
  .rikalogo img {
    width: 75px;
  }
  .rikalogo h3 {
    font-size: 28px;
    font-weight: 900;
    color: #ff4500;
    letter-spacing: -1px;
    margin-bottom: 0;
  }
  .rikabutton button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      #f55f8d 0,
      #f8ae56 51%,
      #f55f8d 100%
    );
    transition: all 0.5s;
    background-size: 200%;
  }
  .rikabutton button:hover {
    background-position: right center;
  }
  .rikabutton h4 {
    margin-top: 5px;
    font-weight: 700;
    font-size: 25px;
    animation: colorChange 5s infinite;
  }
  /* gốc */
  /* @keyframes colorChange {
    0% {
      color: red;
    }
    50% {
      color: blue;
    }
    100% {
      color: green;
    }
  } */
  @keyframes colorChange {
    0% {
      color: #0000ff;
    }
    50% {
      color: #07D2F6;
    }
    100% {
      color: green;
    }
  }

  .rika .bookname {
    padding-top: 13px;
    margin-right: 30px;
  }
  .rika .bookname h2 {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: #004AAD;
  }
  .rika .bookname h3 {
    text-align: center;
    margin-top: 5px;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 0;
    animation: colorChange1 10s infinite;
  }
  @keyframes colorChange1 {
    0% {
      color: #c80584;
    }
    50% {
      color: red;
    }
    100% {
      color: #f55f8d;
    }
  }

  /* nghedoc */
  .rikacontentNgheDoc {
    padding: 5px 30px;
  }
  .rikacontentNgheDoc h2 {
    font-size: 33px;
    font-weight: bold;
    /* margin-bottom: 10px; */
    padding-top: 18px;
    color:  #1E90FF;
  }
  
  .rikacontentNgheDoc .TitleAndVideo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .rikacontentNgheDoc .SlideCarousel p {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 700;
    margin-top: 22px;
  }

  .carousel_single-item {
    /* background-color: antiquewhite; */
    background-image: url(../img/rika.png);
    
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
  width: 100%;
    
    /* text-align: center; */
  }
  
  .videoOpenEnd {
    padding-bottom: 23px;
  }
  
  
  .slick-dots li button::before {
    color: rgb(245, 12, 12);
    opacity: 0.5;
    font-size: 15px;
  }
  
  .slick-dots li.slick-active button::before {
    color: #960303;
    opacity: 1;
  }
  
  
  
  
  .background_rika {
    background-image: url(./img/rika.png);
    
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
  }
  
  
  
  .item .pTuvung span {
    color: #0d6efd;
  }
  .item .gramContent .detailGram span {
    width: 46px;
    
  }
  
  /* Chia cột từ vựng */
  .carousel_single-item .changeContent {
    display: flex;
    justify-content: space-between;
  }
  .carousel_single-item .changeContent .changeContent1 {
    width: 50%;
    padding-left: 30px;
  }
  
  /* Hiệu ứng JS và âm thanh */
  /* #text {
    transition: transform 0.5s, background-color 0.5s, color 0.5s;
  } */
  .highlight {
    /* màu nước ↓ */
    background-image: linear-gradient(to right, #a9d8d7, #d0f1f9, #c7ceea);
    /* color: #dc4f72; */
    /* background-image: linear-gradient(to right, #FAD0C9, #A9D8D7, #FDE3A7); */
    color: rgb(223, 5, 5);
  
    transition: transform 0.5s;
    /* box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%); */
    box-shadow: 10px 10px 5px rgb(194, 193, 193);
    border-radius: 10px;
    /* padding: 5px 15px; */
  }
  
  #contentChange p.active {
    transition: transform 0.5s;
  }
  
  
  .carousel_single-item .slideCarousel p {
    margin-top: 6px;
    /* margin-bottom: 0; */
  }
  
  .note {
    background: linear-gradient(to right, rgb(206 241 247), #FFFFFF);
  }
  .carousel_single-item .slideCarousel .changeContent1 p, .slideCarousel h3 {
    font-size: 35px;
    
  }
  .carousel_single-item .slideCarousel .note .note1 {
    font-size: 27px;
    font-weight: 700;
  }
  .carousel_single-item .slideCarousel .note .note2 {
    font-size: 30px;
    font-weight: 700;
    color: #0000ff;
  }
  .carousel_single-item .slideCarousel .note .Exception {
    font-size: 30px;
    font-weight: 700;
    color: red;
  }
  .borderRight {
    border-right: 1px solid black;
  }
  .prepare button {
    margin-bottom: 5px;
    
  }
  

    /* CHOOSE US */
    .chooseUs__content .item {
      border-radius: 6px;
      background-color: #f7f9fc;
      /* padding: 3rem 2rem; */
      border: 1px solid #f7f9fc;
      /* transition: all 0.4s ease-in; */
      height: 435px;
    }
    
    /* .chooseUs__content .item:hover {
      background-color: #ffffff;
      border: 1px solid #eee;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
      transform: translateY(-0.5rem);
    } */
    
    .background_title {
      background-image: linear-gradient(90deg, #fff7ad, #ffa9f9);
    }
    .chooseUs__content .item h3 {
      font-size: 26px;
      line-height: 35px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    
    .chooseUs__content .item p {
      color: var(--text-color);
      font-weight: 700;
      /* font-size: 20px; */
      /* line-height: 24.5px; */
      text-align: left;
    margin-bottom: 13px;
    transition: all 0.4s ease-in;
    }
    .chooseUs__content .item .sizeTextVN {
      font-size: 21px;
      line-height: 29.5px;
    }
    .chooseUs__content .item .sizeTextJP {
      font-size: 30px;
      line-height: 44.5px;
    }
    .chooseUs__content .item p:hover {
      background-color: #ffffff;
      border: 1px solid #eee;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
      transform: translateY(-0.5rem);
    }
    /* .chooseUs__content .row {
      padding-right: 5px;
      padding-left: 5px;
    } */
    .chooseUs__content .row .setPadding {
      padding-right: 5px;
      padding-left: 5px;
    }
    
    .chooseUs__content .item .block1 {
      height: 183px;
    }
    .chooseUs__content .item .block2 {
      /* height: 75px; */
      
      
    }
    .chooseUs__content .item .blockShort {
      height: 110px;
     
      
    }
    
    ruby {
      word-break: keep-all;
      /* ruby-position: over; */
    }